@import '../settings';

main {
    .title {
        h2 {
            padding-top: 50px;
            font-size: 3rem;
            text-align: center;
        }
    }
    form {
        text-align: center;
        padding-bottom: 50px;
        width: 60%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 3fr 1fr 2fr;
        grid-template-areas:
            'a a'
            'b c'
            'd e'
            'f f'
            'g g'
            'h h'
            'i i';
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: solid 1px black;
            input {
                width: 90%;
                margin: 10px;
                padding: 10px 0;
                border-radius: 10px;
                border: none;
            }
            select,
            textarea {
                width: 95%;
                margin: 10px;
                padding: 10px 0;
                border-radius: 10px;
            }
            label {
                font-size: 1.5rem;
            }
        }
        .sex {
            flex-direction: row;
            justify-content: center;
            grid-area: a;
            .men,
            .women {
                display: flex;
                flex-direction: row;
                margin: 0 20px;
            }
        }
        .last-name {
            grid-area: b;
        }
        .first-name {
            grid-area: c;
        }
        .email {
            grid-area: d;
        }
        .phone-number {
            grid-area: e;
        }
        .choice {
            grid-area: f;
        }
        .message {
            grid-area: g;
        }
        .cgv {
            grid-area: h;
        }
        .button {
            grid-area: i;
            input {
                width: 30%;
                font-size: 1.5rem;
            }
        }
    }
}
