@import '../settings';

main {
    margin: 0 auto;
    background-color: $color3;
    h2 {
        font-size: 2rem;
        padding-bottom: 50px;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        padding: 10px;
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
    article {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        padding: 50px 20px;

        .intervention-container {
            .grid-container {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 400px auto 300px auto 400px;
                .oppacity {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 20px;
                    backdrop-filter: blur(3px);
                    font-size: 1.2rem;
                }
                .picture {
                    border: solid 5px $color1;
                    border-radius: 25px;
                    @include box-shadow-black;
                }
                .pic-one {
                    background: url('../../../assets/img/mouse.jpg')
                        center/cover;
                }
                .pic-two {
                    background: url('../../../assets/img/larves.jpg')
                        center/cover;
                }
                .pic-three {
                    background: url('../../../assets/img/ruche.jpg')
                        center/cover;
                }
                .text {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    margin: 20px;
                }
            }
        }
    }
    .table-container {
        h3 {
            margin-bottom: 50px;
        }
        table {
            font-size: 0.8rem;
            padding-bottom: 20px;
            margin: 0 auto;
            td {
                text-align: left;
                padding: 10px 20px;
            }
            td:nth-child(1) {
                border-radius: 10px 0 0 10px;
            }
            td:nth-child(2) {
                border-radius: 0 10px 10px 0;
            }

            tr:nth-child(even) {
                background-color: $color2;
                td {
                    color: $color4;
                }
            }
            tr:nth-child(odd) {
                background-color: $color4;
            }
            tr:hover {
                opacity: 0.7;
            }
        }
        i {
            margin: 0 20px;
        }
    }
}

// ---------------------------------------- Section
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: $color4;
    padding: 0 20px;
    @include box-shadow-black;
    i {
        color: $color1;
    }

    .client-quality {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .client-rattings {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    div {
        margin: 30px 0;
        img {
            width: 75px;
            height: 75px;
            margin: 10px;
        }
        h4 {
            margin: 10px;
        }
        h5 {
            margin: 10px 0 5px 0;
            font-size: 1.3rem;
        }
        q {
            font-size: 0.8rem;
        }
    }
}

//--------------------------- reponsive

@media screen and (min-width: 768px) {
    main {
        article {
            width: 80%;
            padding: 50px 20px 50px 0;

            h2 {
                font-size: 3rem;
            }
            .intervention-container {
                .grid-container {
                    letter-spacing: 2px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
                    grid-template-rows: 75px 75px 75px 50px 75px 50px 75px 75px 75px;
                    gap: 20px;
                    row-gap: 50px;
                    font-size: 1.2rem;
                    grid-template-areas:
                        'a1 a1 b b b b'
                        'a1 a1 b b b b'
                        'a1 a1 b b b b'
                        'c c c c c c'
                        'c c c c c c'
                        'c c c c c c'
                        'd d d d e e'
                        'd d d d e e'
                        'd d d d e e';

                    .pic-one {
                        grid-area: a1;
                    }
                    .pic-two {
                        grid-area: c;
                        width: 75%;
                        margin: 0 auto;
                    }
                    .pic-three {
                        grid-area: e;
                    }
                    .text {
                        text-align: left;
                    }
                    .text-one {
                        grid-area: b;
                        small {
                            font-style: italic;
                        }
                    }
                    .text-two {
                        grid-area: d;
                    }
                    .oppacity:hover {
                        opacity: 1;
                    }
                }
            }
            h3 {
                margin: 50px 0;
            }
            figure {
                font-size: 2rem;
                height: 900px;

                video {
                    width: 100%;
                    height: 75%;
                    text-decoration: none;
                }
            }
        }
    }
    section {
        .client-quality {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: start;
            font-size: 2rem;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 30%;
                padding: 10px;
            }
        }
        .client-rattings {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-evenly;
            align-items: start;
            font-size: 2rem;
            div {
                padding: 15px;
            }
        }
    }
}
