* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'lexend', sans-serif;
    text-decoration: none;
    color: #000000;
}

body {
    margin: 0 auto;
    max-width: 1800px;
}

/* ------------------- Variable ----------------- */

$color1: rgb(7, 19, 248);
$color2: #000000;
$color3: #727272;
$color4: #dfdfdf;
