@import './settings';
@import './layout/header';
@import './layout/navBar';
@import './layout/footer';

body {
    overflow-x: hidden;
}
header {
    height: 20vh;
}
nav {
    height: 5vh;
    margin-bottom: 0;
    &::after {
        top: 5vh;
    }
}

main {
    text-align: center;
    height: 75vh;
    background-color: transparent;
    label {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid 2px white;
        border-radius: 999px;
        background-color: transparent;
        margin: 70vh 0 0 -32px;
        cursor: pointer;
        transition-duration: 0.4s;
        box-shadow: 0 0 20px 0 #000;
        z-index: 2;
        .sr-only {
            position: absolute;
            pointer-events: none;
            z-index: 60;
        }
    }

    input {
        position: relative;
        margin: 0 16px;
        z-index: 100;
        opacity: 0;
        margin-top: 70vh;
        cursor: pointer;
    }

    input:checked + label {
        background-color: $color1;
    }

    input + label::after {
        content: '';
        background-image: url('../img/chevron-left-blue.svg');
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: 80px 80px;
        line-height: 100vh;
        transition: background-size 200ms;
        position: absolute;
        height: 75vh;
        width: 80px;
        top: 25vh;
        left: 0;
        z-index: 20;
    }

    input + label:hover::after {
        background-size: 90px 90px;
    }

    input:checked + label::after {
        background-image: none;
        width: 100vw;
        left: 0;
        z-index: 10;
    }

    input:checked + label + .slide ~ input + label::after {
        display: none;
    }

    input:checked + label + .slide + input + label::after {
        display: block;
        background-image: url('../img/chevron-right-blue.svg');
        width: 80px;
        right: 0;
        left: auto;
    }

    input:focus + label {
        box-shadow: 0 0 0 2px rgb(253, 4, 4) 0 18px rgb(255, 0, 0);
    }
    input:checked ~ .slide {
        transform: translateX(100%);
    }

    input:checked + label + .slide {
        transform: translateX(0);
        opacity: 1;
    }

    .slide {
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 75vh;
        top: 25vh;
        left: 0;
        z-index: -1;
        transform: translateX(-100%);
        transition-duration: 0.4s;
        opacity: 1;
        p {
            text-shadow: 0px 0px 25px rgba(255, 255, 255, 1);
            font-size: 2rem;
            padding: 15vh 100px;
            align-content: center;
            color: $color1;
        }
    }

    .bg1 {
        background-image: url('../img/dirtyRoom.jpg');
    }
    .bg2 {
        background-image: url('../img/hornet.jpg');
    }
    .bg3 {
        background-image: url('../img/larvae.jpg');
    }
    .bg4 {
        background-image: url('../img/mouses.jpg');
    }
    .bg5 {
        background-image: url('../img/capricorne.jpeg');
    }
}

// ------------------------------------------ Responsive ---------------------------------------

@media screen and (max-width: 768px) {
    header {
        height: 15vh;
    }
    nav {
        display: flex;
        height: 6vh;
        margin-bottom: 0;
        &::after {
            top: 6vh;
        }
        .hamburger {
            margin: 0 auto;
            position: relative;
            width: 100%;
            .btn-nav {
                position: absolute;
                left: 10px;
            }
        }
        .nav-bar.active-navBar {
            margin-top: 4vh;
        }
    }
    main {
        text-align: center;
        height: 79vh;
        label {
            margin: 74vh 0 0 -32px;

            input {
                margin-top: 74vh;
                margin: 0 16px;
            }

            input + label::after {
                height: 79vh;
            }
        }
        .slide {
            height: 79vh;
            top: 21vh;
            p {
                font-size: 1rem;
            }
        }
    }
}
