@import './settings';
@import './layout/header';
@import './layout/navBar';
@import './layout/footer';

body {
    overflow-x: hidden;
}
header {
    height: 20vh;
}
nav {
    height: 4vh;
    margin-bottom: 0;
    &::after {
        top: 4vh;
    }
}

main {
    text-align: center;
    height: 76vh;
    background-color: transparent;
    label {
        display: inline-block;
        width: 12px;
        height: 12px;
        border: solid 2px white;
        border-radius: 999px;
        background-color: transparent;
        margin: 70vh 0 0 -32px;
        cursor: pointer;
        transition-duration: 0.4s;
        box-shadow: 0 0 20px 0 #000;
        z-index: 2;
        .sr-only {
            position: absolute;
            pointer-events: none;
            z-index: 60;
        }
    }

    input {
        position: relative;
        margin: 0 16px;
        z-index: 100;
        opacity: 0;
        margin-top: 70vh;
        cursor: pointer;
    }

    input:checked + label {
        background-color: $color1;
    }

    input + label::after {
        content: '';
        background-image: url('../img/chevron-left-solid.svg');
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: 80px 80px;
        line-height: 100vh;
        transition: background-size 200ms;
        position: absolute;
        height: 76vh;
        width: 80px;
        top: 25vh;
        left: 0;
        z-index: 20;
    }

    input + label:hover::after {
        background-size: 90px 90px;
    }

    input:checked + label::after {
        background-image: none;
        width: 100vw;
        left: 0;
        z-index: 10;
    }

    input:checked + label + .slide ~ input + label::after {
        display: none;
    }

    input:checked + label + .slide + input + label::after {
        background-image: url('../img/chevron-right-solid.svg');
        display: block;
        width: 80px;
        right: 0;
        left: auto;
    }

    input:focus + label {
        box-shadow: 0 0 0 2px rgb(253, 4, 4) 0 18px rgb(255, 0, 0);
    }
    input:checked ~ .slide {
        transform: translateX(100%);
    }

    input:checked + label + .slide {
        transform: translateX(0);
        opacity: 1;
    }

    .slide {
        position: absolute;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 76vh;
        top: 24vh;
        left: 0;
        z-index: -1;
        transform: translateX(-100%);
        transition-duration: 0.4s;
        opacity: 1;
        p {
            font-size: 3rem;
            padding: 15vh 100px;
            align-content: center;
        }
    }

    .bg1 {
        background-image: url(https://images.unsplash.com/photo-1422806310414-91469fe4977e?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=114e7a73b2385128045a5555b981e939);
    }
    .bg2 {
        background-image: url(https://images.unsplash.com/photo-1490020641477-3b0e96306b9a?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=d8358f021c68f49335fe44b10f70b700);
    }
    .bg3 {
        background-image: url(https://images.unsplash.com/photo-1512529111457-3e8a595ef8e9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9b3ab76b65a358830d60ca43be76f2e1);
    }
    .bg4 {
        background-image: url(https://images.unsplash.com/photo-1504700610630-ac6aba3536d3?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=92d2cae094fb24e5266221828ee251e2);
    }
    .bg5 {
        background-image: url(https://images.unsplash.com/reserve/wPCyys8TPCHY3GXm2N2D_ssp_inthewoods_1.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=654d988a19f43ca9ac27f2eacbe2a554);
    }
}

// ------------------------------------------ Responsive ---------------------------------------

@media screen and (max-width: 768px) {
    header {
        height: 15vh;
    }
    nav {
        display: flex;
        height: 6vh;
        margin-bottom: 0;
        &::after {
            top: 6vh;
        }
        .hamburger {
            margin: 0 auto;
            position: relative;
            width: 100%;
            .btn-nav {
                position: absolute;
                left: 10px;
            }
        }
        .nav-bar.active-navBar {
            margin-top: 4vh;
        }
    }
    main {
        text-align: center;
        height: 79vh;
        label {
            margin: 74vh 0 0 -32px;

            input {
                margin-top: 74vh;
                margin: 0 16px;
            }

            input + label::after {
                height: 79vh;
            }
        }
        .slide {
            height: 79vh;
            top: 21vh;
            p {
                font-size: 1rem;
            }
        }
    }
}
