@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lexend", sans-serif;
  color: #000000;
  text-decoration: none;
}

body .go-head {
  display: none;
}
body .go-head.active {
  display: flex;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #00d7b9;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
body .go-head.active a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
body .go-head.active a i {
  font-size: 2rem;
}
body header {
  display: flex;
  height: 150px;
  background-color: black;
  padding: 5px 10px;
}
body header .header-container {
  display: flex;
  width: 100%;
}
body header .logo {
  width: 20%;
  color: grey;
}
body header .logo p {
  display: none;
}
body header img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
body header .header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
body header a {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}
body header .header-right p {
  font-size: 0.8rem;
  font-style: italic;
  color: white;
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
    flex-direction: column;
    align-items: center;
  }
  header .header-container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
  }
  header .logo a {
    height: 100%;
  }
  header .header-right {
    height: 25%;
  }
  header .header-right h1 {
    display: none;
  }
  header .header-right p {
    justify-content: center;
    color: white;
  }
}
header {
  position: sticky;
  top: 0px;
}

main {
  margin: 50px 0;
}
main h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
main .container {
  background-color: grey;
  border-radius: 20px;
}
main .container h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
main .container .mentions-legales,
main .container .rgpd {
  padding: 50px;
}
main .container .mentions-legales details,
main .container .rgpd details {
  margin: 10px;
  font-weight: bold;
}
main .container .mentions-legales details p,
main .container .rgpd details p {
  margin: 0 0 0 50px;
  font-weight: normal;
}
main .container .mentions-legales details summary::marker,
main .container .rgpd details summary::marker {
  content: "≻";
}
main .container .mentions-legales details:hover,
main .container .rgpd details:hover {
  cursor: pointer;
}
main .container .cgv ol {
  margin-left: 80px;
  padding-right: 50px;
}
main .container .cgv ol li {
  font-weight: bold;
}
main .container .cgv ol li p {
  font-weight: normal;
  padding: 0 0 20px 50px;
}
main a {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 100px 0;
  align-items: center;
  font-size: 2rem;
  border: none;
}
main a i {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  main h2 {
    font-size: 2rem;
  }
  main .container {
    margin: 0 auto;
    width: 90%;
  }
  main .container h3 {
    font-size: 1.5rem;
    padding: 0 20px;
  }
  main .container .mentions-legales,
  main .container .rgpd {
    padding: 50px 20px;
  }
  main .container .mentions-legales details p,
  main .container .rgpd details p {
    margin: 0 0 0 20px;
  }
  main .container .cgv {
    padding: 10px;
  }
  main .container .cgv ol {
    margin-left: 20px;
  }
  main a {
    text-align: center;
  }
}/*# sourceMappingURL=mention.css.map */