@import './_settings.scss';
@import './layout/_header.scss';
@import './layout/_navBar.scss';
@import './layout/_footer.scss';

main {
    height: 500px;
    width: 100%;
    background-color: $color3;
}
