@import '../settings.scss';

/* ------------------------------------------- Footer ------------------------------------------- */
footer {
    background-color: $color3;
    display: flex;
    width: 100%;
    padding: 20px 0;

    h4 {
        padding: 10px;
    }
    li {
        padding: 5px;
    }
    i:hover,
    a:hover,
    li:hover {
        transition: ease-in-out 0.2s;
        scale: 1.2;
        color: $color1;
    }
}
/* -------------------- Left-Container -------------------- */
.left-container {
    width: 36%;
    .left-part {
        background-color: $color3;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        ul {
            display: flex;
            align-items: center;
            padding: 10px 0 20px 0;
            i {
                font-size: 2rem;
            }
        }
    }
}
/* -------------------- Right-Container -------------------- */
.right-container {
    display: flex;
    justify-content: space-around;
    width: 64%;
    .center-part {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    .right-part {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

// -------------------------------------------------------------------------------------- Responsive

@media screen and (max-width: 768px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;

        li:hover,
        i:hover {
            scale: 1;
        }

        .right-container {
            width: 100%;
        }
    }
}
